.carre {
    height: 200px;
    width: 200px;
    background-color: red;
}

.carrebleu {
    height: 200px;
    width: 200px;
    background-color: blue;
}

#ParagraphCache {
    display: none;
}
#Paragraph{
    visibility:visible;
}