.carre {
    height: 200px;
    width: 200px;
    background-color: red;
}

.carrebleu {
    height: 200px;
    width: 200px;
    background-color: blue;
}

#ParagraphCache {
    display: none;
}

#Paragraph {
    visibility: visible;
}

#label {
    color: red;
    font-size: 20px;
}
#reset {
    color: white;
    background-color: black;
    width: 75px;
    height: 50px;
}
#plus{
    background-color: red;
    width: 75px;
    height: 40px;
}
#moin{
    background-color: blue;
    width: 75px;
    height: 40px;
}
#dix{
    background-color: aqua;
}
#cinq{
    background-color: yellow;
}

